h1 {
<<<<<<< HEAD
  color: white;
  text-align: center;
  border-color: black;
  font-family: monospace;
  border-width: 10px;
}
.quote {
  font-weight: bold;
  color: black;
=======
  color:white;
>>>>>>> cb48daf18817e2a7c7f65d6a894d8af2dbf5eae0
  text-align: center;

}
.description{

}
h2 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
  font-size: 25px;
}
h3 {
  color: #0073B0
}
.jumbotron {
  background-color: #0073B0
<<<<<<< HEAD
}
.button {
  background-color: #0073B0;
  border: none;
=======
}
.jumbotron p{
  text-align: center;
  font-size: 20px;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
footer {
  background-color: #c21717;
}
footer a {
>>>>>>> cb48daf18817e2a7c7f65d6a894d8af2dbf5eae0
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
