h1 {
  color: #c21717;
  text-align: center;
  border-color: black;
  font-family: monospace;
  border-width: 10px;
}

h2 {
  color: #c21717;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
  font-size: 25px;
}

.container .row a {
  color: black;
}

.col-sm-12 {
  background-color: #99c997;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

footer {
  background-color: #c21717;
}
footer a {
  color: white;
}